#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
th button{
  font-size: 0.8em;
}
.selectSubject {
  font-size: 2em;
}
.selectSubject option{
  font-size: 0.4em;
}

table {
  border-collapse: collapse;
}
td{
  border: 1px solid black;
}
tr select {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}

.graphNav{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

a {
  color: rgb(59, 59, 59);
}

.active {
  font-weight: bold;
}

/****** Dropdown Menu    ********/ 
/** Dropdown Menu (Sub) Content **/
.DMC,
.DMSC{
	min-width: 220px;
	background-color: rgb(228, 227, 227);
	border-radius: 6px;
	padding: 5px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	/* animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity; */
}

.icons {
  margin-right:5px;
  margin-left: -5px;
}

.table-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top:20px;
}
.table-controls .MuiFormGroup-root {
  width: 50%;
}

.axis {
  display: flex;
  width: 100%;
}
.axis .inter-subject-plot {
  /* border: 1px solid black; */
}
.axis .subj_info {
  /* border: 1px solid black; */
  width: 250px;
  height:auto;
  align-self: center;
}
.subj_info:last-child {
  border-bottom: 1px solid black;
}

.subj_info_header{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.subj_info_feats {
  padding: 10px 0 10px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.subj_info_feats * {
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 0.8em;
  text-align: left;
}
.subj_info_feats h4 {
  padding: 0;
  font-size: 1.2em;
  text-align: center;
}
.subj_info_feats h6 {
  padding: 0;
  font-size: 1em;
}


